
/*general*/
html {
    margin: 0px;
    padding: 0px;
    font-size: 62.5%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
}

/*links*/
a{
    text-decoration: none;
    color:#25291C;
}

/*header*/
header {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas: "logo barra botones";
    height: 7rem;
}

/*iconos header*/
header div .iniciarSesion {
    height: 30px;
    width: 30px;
}

/*logo header*/
#logo_header{
    grid-area: logo;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#logo_header a{
    display: flex;
    justify-content: end;
    align-items: center;
}

#logo_header a img{
    height: 7rem;
}

header .barra{
    grid-area: barra;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, white, #A49966);
}

header .botones_header{
    grid-area: botones;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #A49966;
}

header div .carrito {
    height: 30px;
    width: 30px;  
}

header .barra .menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header .barra .menu li{ 
    list-style: none;
    font-size: 2rem;
    padding: 0.3rem;
}

header .barra .menu li a{
    color: #25291C;
}

.productos,.empresa,.envios,.envios{
    border-top: 0.2rem solid black;
}

/* Index */
body main section{
    background-color: #EAFFDA;
}

.productos .cards div{
    width: 300px;
    height: 380px;
    border: 2px solid black;
    text-align: center;
    padding-bottom: 5px;
}

.productos .cards div a{
    color: white;
    background-color: #25291C;
    padding: 5px;
}

.productos .cards div h2{
    font-size: 1.2rem;
}


/* Menu filtro */
.menuFiltro{
text-align: center;
text-align: left;
}

.menuFiltro ul li{
    list-style: none;

}

.menuFiltro .categorias ul li{
    list-style: none;
    text-align: center;
}

.menuFiltro .categorias ul li a{
    color: white;
    font-size: 1rem;
}

.menuFiltro {
    border: 2px solid black;
    height: 75px;
    width: 150px;
    background-color: #605C4E;
}

/* Footer */
footer{
    border-top: 0.2rem solid black;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "laEmpresa contacto redesSociales"
    "imagenFooter imagenFooter imagenFooter"
    ;
    justify-items: center;
    background-color: #C7C7A6
}

/* Footer la empresa */
footer .laEmpresa{
    grid-area: laEmpresa;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Footer contacto */
footer .contacto{
    grid-area: contacto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* Footer redes sociales */
footer .redesSociales{
    grid-area: redesSociales;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

footer .redesSociales div{
    display: flex;
    justify-content: space-between;
}

/* Footer imagen */
footer .imagenfooter{
    grid-area: imagenFooter;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .imagenfooter a img{
    height: 70px;
}

/* Flecha ir arriba */
footer .flechaIrArriba a img{
    height: 60px;
}

/* Footer parrafo */
footer .imagenfooter p{
    padding: 1.5rem;
}

/* Footer horario de contacto */
footer .contacto p{
    margin: 0px;
}

/* Formulario */
form{
    background-color: #363020;
}

/* Pestaña nosotros */
main .empresa div{
    margin: 0.5rem;
    padding: 1rem
}

/* Pestaña contacto, formulario */
main form fieldset{
    color: #C7C7A6;
}
