/* Pestaña contacto, formulario */
main form fieldset{
    color: #C7C7A6;
}

.envios h1{
    color:$color-separadores;
    font-style: italic;
    text-align: center;
    background-color: $color-footer;
}

/* Formulario */
form{
    font-style: italic;
    @extend .colorMarronContenedores;
    padding: 1rem;

    input{
        margin: 0.5rem;
    }

    fieldset{
        legend,
        p,
        label{
            color:white;
        }

        label .form-control{
            width: 25px;
            background-color: white;

            &:checked{
                background-color: #25291C;
            }
        }
    }
}