/* Pestaña contacto, formulario */
main form fieldset{
    color: #C7C7A6;
}

.envios h1{
    color:#363020;
    font-style: italic;
    text-align: center;
}

/* Formulario */
form{
    font-style: italic;
    background-color: #363020;
    padding: 1rem;

    input{
        margin: 0.5rem;
    }
}