/* Pestaña contacto, formulario */
main form fieldset{
    color: #C7C7A6;
}

.envios h1{
    color:$color-separadores;
    font-style: italic;
    text-align: center;
}

/* Formulario */
form{
    font-style: italic;
    @extend .colorMarronContenedores;
    padding: 1rem;

    input{
        margin: 0.5rem;
    }
}