/* Pestaña envios */

.envios{

    div{

        h1{
            @extend .colorMarronContenedores;
            color: white;
            font-style: italic;
            text-align: center;
        }

    }

    h2{
        color:$color-separadores;
    }
}

h2 {
    font-style: italic;
    text-align: center;
}