/* Index */
body main section{
    background-color: #F4FDD9;
}

/* Productos ofertas */

.productos .parrafoProductos{
    background-color: $color-hover;
    color: white;
    border: 0.3rem solid black;
    grid-area: parrafoProductos;
    text-align: center;
    width: 100%;
    animation-name: ofertas;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 5s;
    animation-delay: 2s;
}

/* Animacion texto oferta */
@keyframes ofertas{
    0%{color: white;
    background-color:rgb(208,2,27);}
    50%{color: rgb(208,2,27);
    background-color: white;}
    100%{color: white;
    background-color:rgb(208,2,27);}
}


/* Cards de productos en ofertas del index*/
.cards{
    width: 100%;
    margin:0;
    grid-area: cards;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;

    div{
        img{
            height: 295px;
            width: 295px;
            align-content: center;  
        }
    }
}

/* Media queris para pantallas menores de 1275px */
@media screen and (max-width:1275px) {
    header{
        display: grid;
        grid-template-columns: 30% 40% 30%;
        grid-template-rows: 280px;
        grid-template-areas: "logo barra botones";

        .barra{
            display: flex;
            flex-direction: column;

            ul{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

        div{
            .iniciarSesion,
            .carrito{
                height: 45px;
                width: 45px;
                align-content: center;
            }
        }
    }

    .cards{
        grid-template-columns: repeat(2, 1fr);
    }

    header, .barra, .botones_header{
        height: 280px;
        flex-direction: column;
    }

    #logo_header{
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;

        a{
            img{
                height: 5.5rem;
            }
        }
    }

    .botones_header{
        align-items: flex-start;
    }
}


/* Grid cuerpo index */
.productos,
.productosAll{
    display:grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: 
    "parrafoProductos parrafoProductos"
    "menuFiltro cards";
}

/* Media queris para pantallas menores a 1160px */
@media screen and (max-width:1160px) {
    .productos, .productosAll{
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "parrafoProductos parrafoProductos"
        "cards cards"
        "menuFiltro menuFiltro";
    }

    .menuFiltro {
        grid-area: menuFiltro;
        margin: auto;
        font-size: 2rem;
        width: 650px;
        align-items: center;

        div{
            .tipoDePrenda{
                display: flex;
                justify-content: space-between;
                align-items: center;

                li{
                    padding: 2rem;
                    margin: auto;
                }
            }
        }
    }
}

/* Media queris para pantallas menoras a 685px */
@media screen and (max-width:685px) {
    .productos, .cards{
        display:flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .menuFiltro {
        display: none;

        div{
            .tipoDePrenda{
                display: none;
            }
        }
    }

.redesSociales div{
    display: flex;
    flex-direction: column;
}

header .barra .menu li{ 
    font-size: 1.5rem;
    padding: 0.2rem;
}
}

@media screen and (max-width:530px){
    footer div{
        display: flex;
        flex-direction: row;
    }
}