@import "variables.scss";
@import "globales.scss";
@import "inicio.scss";
@import "nosotros.scss";
@import "productos.scss";
@import "envios.scss";
@import "contacto.scss";

/*general*/
html {
    margin: 0px;
    padding: 0px;
    font-size: 62.5%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
}

/*links*/
a{
    text-decoration: none;
    color:#25291C;
}

/*header*/
header {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 115px;
    grid-template-areas: "logo barra botones";
    height: 7rem;

    div{
        .iniciarSesion, 
        .carrito{
            height: 30px;
            width: 30px;  
        }
    }

    .barra{
        grid-area: barra;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to right, white, #A49966);

        .menu{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            li{
                list-style: none;
                font-size: 2rem;
                padding: 0.3rem;

                a{
                    color: #25291C;
                }

                a:hover{
                    background-color:rgb(208,2,27);
                    color: white;
                }
            }
        }
    }

    .botones_header{
        grid-area: botones;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #A49966;
    }
}

/*logo header*/
#logo_header{
    grid-area: logo;
    justify-content: center;
    align-items: center;
    background-color: white;

    a{
        display: flex;
        justify-content: end;
        align-items: center;

        img{
            height: 7rem;  
        }
    }
}

.productos,.envios,.productosAll{
    border-top: 0.2rem solid black;
    padding: 1rem
}

/* Index */
body main section{
    background-color: #F4FDD9;
}

/* Productos ofertas */
.productos .cards div{
    width: 300px;
    height: 400px;
    border: 2px solid black;
    text-align: center;
    padding-bottom: 5px;
    background-color: #A49966;
    margin: 0.7rem;

    a{
        color: white;
        background-color: #25291C;
        padding: 5px;    
    }

    a:hover{
        background-color: rgb(208,2,27);
    }

    h2{
        font-size: 1.2rem;
    }

    h3{
        font-size: 1.5rem;
    }
}

.productos .parrafoProductos{
    background-color: rgb(208,2,27);
    color: white;
    border: 0.3rem solid black;
    grid-area: parrafoProductos;
    text-align: center;
    width: 100%;
    animation-name: ofertas;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    animation-duration: 5s;
    animation-delay: 2s;
}

/* Animacion texto oferta */
@keyframes ofertas{
    0%{color: white;
    background-color:rgb(208,2,27);}
    50%{color: rgb(208,2,27);
    background-color: white;}
    100%{color: white;
    background-color:rgb(208,2,27);}
}

/* Menu filtro */

.menuFiltro {
    border: 2px solid black;
    height: 7.5rem;
    width: 220px; 
    background-color: #A49966;
    grid-area: menuFiltro;
    margin: 4rem 1rem;
    font-size: 1.5rem;
    font-style: italic;

    div{
        ul li{
            list-style: none;
        }

        .categorias ul li a{
            color: white;
            font-size: 1rem;
        }
    }
}

/* Cards de productos en ofertas del index*/
.cards{
    width: 100%;
    margin:0;
    grid-area: cards;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;

    div{
        img{
            height: 295px;
            width: 295px;
            align-content: center;  
        }
    }
}

/* Media queris para pantallas menores de 1275px */
@media screen and (max-width:1275px) {
    header{
        display: grid;
        grid-template-columns: 30% 40% 30%;
        grid-template-rows: 280px;
        grid-template-areas: "logo barra botones";

        .barra{
            display: flex;
            flex-direction: column;

            ul{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

        div{
            .iniciarSesion,
            .carrito{
                height: 45px;
                width: 45px;
                align-content: center;
            }
        }
    }

    .cards{
        grid-template-columns: repeat(2, 1fr);
    }

    header, .barra, .botones_header{
        height: 280px;
        flex-direction: column;
    }

    #logo_header{
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;

        a{
            img{
                height: 5.5rem;
            }
        }
    }

    .botones_header{
        align-items: flex-start;
    }
}


/* Grid cuerpo index */
.productos{
    display:grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: 
    "parrafoProductos parrafoProductos"
    "menuFiltro cards";
}

/* Media queris para pantallas menores a 1160px */
@media screen and (max-width:1160px) {
    .productos, .productosAll{
        display:grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "parrafoProductos parrafoProductos"
        "cards cards"
        "menuFiltro menuFiltro";
    }

    .menuFiltro {
        grid-area: menuFiltro;
        margin: auto;
        font-size: 2rem;
        width: 650px;
        align-items: center;

        div{
            .tipoDePrenda{
                display: flex;
                justify-content: space-between;
                align-items: center;

                li{
                    padding: 2rem;
                    margin: auto;
                }
            }
        }
    }
}

/* Media queris para pantallas menoras a 685px */
@media screen and (max-width:685px) {
    .productos, .cards{
        display:flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    .menuFiltro {
        display: none;

        div{
            .tipoDePrenda{
                display: none;
            }
        }
    }

.redesSociales div{
    display: flex;
    flex-direction: column;
}

header .barra .menu li{ 
    font-size: 1.5rem;
    padding: 0.2rem;
}
}

@media screen and (max-width:530px){
    footer div{
        display: flex;
        flex-direction: row;
    }
}

/* Footer */
footer{
    border-top: 0.2rem solid black;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "laEmpresa contacto redesSociales"
    "imagenFooter imagenFooter imagenFooter"
    ;
    justify-items: center;
    background-color: #C7C7A6;

    .laEmpresa{
        grid-area: laEmpresa;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        a{
            text-align: center;
        }
    }

    .contacto{
        grid-area: contacto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        p{
            /* Footer horario de contacto */
            margin: 0px;
            text-align: center;
        }

        h3{
            /* Footer horario de contacto */
            margin: 0px;
            text-align: center;
        }
    }

    .redesSociales{
        grid-area: redesSociales;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        div{
            display: flex;
            justify-content: space-between;
        }
    }

    .imagenfooter{
        grid-area: imagenFooter;
        display: flex;
        justify-content: space-around;
        align-items: center;

        a{
            img{
                height: 70px;
            }
        }

        p{
            /* Footer parrafo */
            padding: 1.5rem;
        }
    }

    .flechaIrArriba{
        a{
            img{
                height: 60px;
            }
        }
    }

    div{
        h3{
            text-align: center;
        }
    }
}


/* Formulario */
form{
    font-style: italic;
    background-color: #363020;
    padding: 1rem;

    input{
        margin: 0.5rem;
    }
}

/* Pesta単a nosotros */
.empresa h2{
    background-color: #363020;
    color: white;
    border: 0.3rem solid black;
}

.contenedorNosotros{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    text-align:justify;

    img{
        height: 250px;
        width: 350px;
    }
}

/* carousel */
#carouselExampleIndicators{
    width: 100%;
    margin: 0 auto;
}

#reverse{
    flex-direction: row-reverse;
}

.empresa{
    margin-top: 0.2rem;

    h2{
        margin: 0;
    }
}

@media screen and (max-width:770px){
    .contenedorNosotros, #reverse{
        flex-direction: column;
    }
    .contenedorNosotros img{
        width: 100%;
    }
}

/* Pesta単a .productos seccion*/
.productosAll{
    display:grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: 
    "parrafoProductos parrafoProductos"
    "menuFiltro cards";
}
    
.productosAll .parrafoProductos{
    background-color: #363020;
    color: white;
    border: 0.3rem solid black;
    grid-area: parrafoProductos;
    text-align: center;
}

.productosAll .parrafoProductos h1{
    font-size: 2rem;
}

.productosAll .cards div
{
    width: 300px;
    height: 380px;
    border: 2px solid black;
    text-align: center;
    padding-bottom: 5px;
    background-color: #A49966;
    margin: 1rem;
}

.productosAll .cards div a{
    color: white;
    background-color: #25291C;
    padding: 5px;
}

.productosAll .cards div a:hover{
    background-color: rgb(208,2,27);
    }

.productosAll .cards div h2{
    font-size: 1.2rem;
}

/* Pesta単a envios */

.envios div h1{
    background-color: #363020;
    color: white;
}

.envios div h1,
h2 {
    font-style: italic;
    text-align: center;
}

.envios h2{
    color:#363020;
}

/* Pesta単a contacto, formulario */
main form fieldset{
    color: #C7C7A6;
}

.envios h1{
    color:#363020;
    font-style: italic;
    text-align: center;
}
